body
{
	font-family: 'Roboto Mono', monospace;
  background-color: #eee;
}

footer
{
  position:absolute;
  bottom:0;
  padding: 5px;
  padding-top:20px;
}

h1,h2,h3
{
	font-family: 'Ubuntu', sans-serif;
}

.center
{
	text-align: center;
}

.img_banner
{
  width: 100%;
  height: auto;
}

.material-icons {
  color: black;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.shadow_button
{
  border-radius: 3px;
  padding: 5px;
  font-family: 'Ubuntu', serif;
  letter-spacing: 1px;
  background-color: #26A65B;
  border-style: none;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px #aaa;
  transition: box-shadow 0.2s ease-in-out, background-color 0.25s linear;
}

.shadow_button:hover
{
  box-shadow: 1px 1px 3px #888;
  border-color: transparent;
}

.shadow_button:active
{
  background-color: #16863B;
  box-shadow: 1px 1px 3px #888;
  border-color: transparent;
}

.large_button
{
  width: 200px;
  height: 40px;
  font-size: 18px;
  letter-spacing: 2px;
}

.fui-lock:before
{
  font-family: 'Material Icons';
  content: "lock";
}

.fui-person:before
{
  font-family: 'Material Icons';
  content: "person";
}

.flat_input
{
  margin: 10px;
  margin-left: 35px;
  background-color: #fff;
  border-radius: 3px;
  border-color: transparent;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  box-shadow: none;
  font-size: 17px;
  text-indent: 3px;

  width: 300px;
  height: 40px;
}

.flat_input:focus
{
  border: 2px solid #26A65B;
  box-shadow: none;
  outline: 0;
}
.field_icon
{
  color: #bfc9ca;
  font-size: 25px;
  position: relative;
  right: 50px;
  top: 7px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.flat_input:focus + .field_icon
{
  color: #26A65B;
}